.button-container{
    width: 90vw;
    margin: 20px auto;
}

.submit{
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    margin: 0px auto;
    background-color: #EDF0F7;
    border: 1px solid #EDF0F7;
    color: #2355FC;
    font-size: 24px;
    font-weight: 800;
}