.car-specificaiton-container{
    margin-top: 20px;
    padding: 18px;
    &-ul{
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        &-li{
            display: flex;
            img{
                margin-right: 5px;
            }
        }
    }
    h5{
        font-weight: 200;
    }
}